#outerNavbarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0 1em 0;
}
#innerNavbarDiv{
    display: flex;
    width: 80%;
    justify-content: flex-start;
}
#homeLogo {
    height: 2em;
    width: 2em;
}

#homeLogoNotLoggedIn{
    height: 4em;
    width: 4em;
}

#navLinkProfile {
    margin-left: auto;
}

.navbarText{
    margin-top: auto;
    font-size: 2em;
}
.navLinks {
    margin-top: auto;
    font-size: 2em;
    color: #faa307;
    text-decoration-line: none;
}

.navLinks:hover{
    color: #ffba08;
}

.selected {
    font-weight: bolder;
    color: #370617;
    text-decoration-line: underline;

}
.material-icons {
    font-size: 48px;
    vertical-align: bottom
}
