
#translationInput{
    display:inline-block;
    font-size: 2em;
    width: 80%;
}

#translationButton{
    display: inline-block;
    font-size: 2em;
    width: 20%;
}
#translationInput, #translationButton{
    box-sizing: border-box;
    height: 3em;
}