#listOfSearches{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#buttonSection{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}
.profileButtons{
    width:20%;
    height: 5em;
    font-size: 2em;
    margin-left: 20%;
    border-radius: 0.3em;
}

.searchItems{
    font-size: 2em;
    border-bottom: 0.01em solid black;
}

.profileTitle {
    font-size: 3em;
}

.searchTitle {
    font-size: 2.5em;
}