.App{
    background-image: url("./utils/images/Logo.png");
    background-color: #7B0D1E;
    min-width: 900px;
    width: 100%;
    text-align: center;
    height: 100vh; /*Stretches the background to the bottom of the screen*/
}