.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 2em auto 2em auto;
    padding-top: 10em;
    padding-bottom: 10em;
}

.innerCard {
    width: 80%;
}