#inputUsername{
    display:inline-block;
    font-size: 2em;
    width: 80%;
}

#loginButton{
    display: inline-block;
    font-size: 2em;
    width: 20%;
}
#inputUsername, #loginButton{
    box-sizing: border-box;
    height: 3em;
}